*{
 margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: cursive, sans-serif;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}
header{
    width: 100%;
    height: 90vh;
    background: url(../image/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nav_con{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

nav{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}
.brand{
    font-size: 3rem;
    font-weight: 300;
    transform: translateX(-1000px);
    animation: slideIn .5s forwards;
}
.brand span{
    color: crimson;
}
nav a{
    display: inline-flex;
}
nav a{
    list-style: none;
    transform: translateX(+1000px);
    animation: slideIn .5s forwards;
}

nav a:nth-child(1){
    animation-delay: 0s;
}
nav a:nth-child(2){
    animation-delay: .5s;
}
nav a:nth-child(3){
    animation-delay: 1s;
}
nav a:nth-child(4){
    animation-delay: 1.5s;
}

nav a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}
nav  a:last-child{
    margin-right: 0;
}

nav  a::before,
nav  a::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: crimson;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}
nav a::before{
    top: 0;
    transform-origin: left;
}
nav a::after{
    bottom: 0;
    transform-origin: right;
}

nav a:hover::before,
nav a:hover::after{
   transform: scaleX(1);
}

@keyframes slideIn {
    from{
        
    }
    to{
        transform: translateX(0);
    }
}
.center_content{
  margin-top: 50px;
}
.center_text{
  color: white;
}
.bound {
  border-radius: 9px;
}
.center_text h1{
  font-size: 50px;
}
.center_text p {
  font-size: 20px;
}
.contact_body_form {
    width: 90%;
    margin: auto;
}
.contact_body_form input{
  width: 40%;
  margin: 10px 15px;
}
.contact_body_form textarea {
  width: 88%;
  height: 100px;
  margin-left: 10px;
}
.contact_body_form input,
.contact_body_form textarea {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #727272;
}
.contact_body_form button {
    border: none;
    cursor: pointer;
    background-color: blue;
}
.contact_body_form #message,
.contact_body_form .alert-msg {
    grid-column: 1 / span 2;
}
.contact_body_form .btn {
    padding: 10px 30px;
}
.contact_body_form .alert-msg {
    color: #01a001;
    display: none;
}
.prim-btn {
  border-radius: 5px;
}

/* moblile nav icon */